@font-face {
  font-family: ProximaNovaSoft;
  font-weight: normal;
  src: url(./font/ProximaNovaSoft-Regular.otf);
}

@font-face {
  font-family: ProximaNovaSoft;
  font-weight: bold;
  src: url(./font/ProximaNovaSoft-Bold.otf);
}

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

h1, h2, h3, p, div, input, select, button {
  margin: 0;
  padding: 0;
  font-family: ProximaNovaSoft, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #444444;
  font-size: 16px;
  line-height: 21px ;
  box-sizing: content-box;
  position:relative;
}

img {
  position:relative;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 26px;
  line-height: 34px;
}

.small {
  font-size: 14px;
  line-height: 19px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.container {
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

div.prompt-card {
  display:inline-block;
  width: 182px;
  height: 104px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 3px #e2e2e2;
}

input, select, button{
  height: 21px;
  padding: 11px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #e2e2e2;
}

button.primary {
  border: 0;
  padding: 12px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #03a9f4;
  color: #ffffff;
}

button.primary:hover,button.primary:active {
  background-color: #0287c3;
  color: #cccccc;
}

button.primary:disabled {
  background-color: #81d4fa;
  color: #ffffff;
}

button.secondary {
  color: #e2e2e2;
}

button.secondary.active {
  color: #03a9f4;
  border-color: #03a9f4;
}

button.container {
  display: inline-block;
  padding: 0;
}

button.answer-card {
  width: 182px;
  height: 134px;
  padding: 3px;
}

button.answer-card.active {
  border: solid 3px #03a9f4;
  padding:0;
}

div#quiz-bottom-bar {
  width:100%;
  height: 100px;
  border-top: solid 2px #e2e2e2;
}

div.success {
  background-color: #ADD14D;
}

div.failure {
  background-color: #FC6F52;
}

input:focus, select:focus, button:focus{
  position:relative;
  box-shadow: 0 0 4px 0 #81d4fa;
  outline:none;
  z-index: 1;
}

/*gets rid of focus square on firefox*/
input::-moz-focus-inner,button::-moz-focus-inner {
  border:0;
  padding:0;
  margin:0;
}

/*ugly hack to get rid of firefox's focus ring*/
select:-moz-focusring {
  color:transparent;
  text-shadow: 0 0 0 #000;
}

/*replace default select arrow*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("./img/dropdown.svg") no-repeat right 14px center;
}

/* remove number input spinners */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  -moz-appearance: textfield;
}