@font-face {
  font-family: ProximaNovaSoft;
  font-weight: normal;
  src: url(./font/ProximaNovaSoft-Regular.otf);
}

@font-face {
  font-family: ProximaNovaSoft;
  font-weight: bold;
  src: url(./font/ProximaNovaSoft-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

h1, h2, h3, p, div, input, select, button {
  margin: 0;
  padding: 0;
  font-family: ProximaNovaSoft, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #444444;
  font-size: 16px;
  line-height: 21px;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 26px;
  line-height: 34px;
}

.small {
  font-size: 14px;
  line-height: 19px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

div.container {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
}

input, select, button{
  height: 21px;
  padding: 11px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #e2e2e2;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
    background: url("./img/dropdown.svg") no-repeat right 14px center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  -moz-appearance: textfield;
}

input:focus, select:focus, button:focus, button.primary:focus {
  padding: 10px;
  border: solid 2px #81d4fa;
  outline:none;
}

button, select{
  height: 45px;
}

button.primary {
  border: 0;
  padding: 12px;
  border-radius: 30px;
  font-weight: bold;
  background-color: #03a9f4;
  color: #ffffff;
}

button.primary:hover,button.primary:active {
  background-color: #0287c3;
  color: #cccccc;
}

button.primary:disabled {
  background-color: #81d4fa;
  color: #ffffff;
}

button.secondary {
  color: #e2e2e2;
}

button.secondary.active {
  color: #03a9f4;
  border-color: #03a9f4;
}
